.title{
    display: flex;
    justify-content: center;
    padding: 20px;
}


.wrpContainer{
    padding: 20px;

    display: flex;
    justify-content: center;
}

.nameSurname{
    text-align: center;

    font-size: 20px;
}

.containerContact{
    padding: 20px;
}

.containerPhone{
    display: inline-flex;
}